{% extends "main.j2" %}

{% block title %}
  Advanced Results
{% endblock %}

{% block header %}
  <h1>Advanced Search</h1>
{% endblock %}

{% block body %}
  {# Search Bar #}
  <form method="POST" class="search-bar">
    <div class="form-group">
      <label for="submitSearch">Search for Any Organization</label>
      <input class="form-control" type="text" placeholder="Search for Organization..." id="name" name="name" value="{{ request.form['name'] }}">
    </div>

    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
        <select class="custom-select mr-sm-2" id="category" name="category" value="{{ request.form['category'] }}">
          <option value = "" selected>Choose a Category...</option>
          <option value="Health">Health</option>
          <option value="Faith">Faith</option>
          <option value="Social Welfare">Social Welfare</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value='Submit'>
    <a href="{{ url_for('root') }}" class="btn btn-default">Cancel</a>

  </form>

{% endblock %}