{% extends "main.j2" %}

{% block title %}
  Browse
{% endblock %}

{% block header %}
  <h1 id="top">Browse All Listed Organizations</h1>
<a class="nav-link" href="{{ url_for('advancedSearch') }}">Search Organizations</a>
{% endblock %}

{% block body %}

<div class='browse'>
  {% for organization in Organizations %}
    <img src="{{ organization['imgPath'] }}" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', id=organization['organization_id']) }}">{{ organization['name'] }}</a>  
    {% endfor %}
    <br>
    <br>
    <br>
    <a href="#top">Return to Top</a>
</div>
  

{% endblock %}

